<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark p-0" style="background-color: #1f282dd9">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="index_admin.html">Quản lý bài viết</a>
    <a class="nav-item nav-link" href="category_list.html">Quản lý nhóm bài viết</a>
  </div>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
        <img class="rounded-circle" style="width:60px" src="user.svg">
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">
          Thông tin tài khoản
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" onclick="logOut()">
          Đăng xuất
        </a>
      </div>
    </li>
  </ul>
</nav>

<script>
  if (!sessionStorage.getItem('token')) {
    location.href = 'login.html';
  }

  function logOut() {
    sessionStorage.removeItem('token');
    location.href = 'login.html';
  }
</script>

<!-- javascript -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="plugin/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="plugin/tinymce/init-tinymce.js"></script>
<div id='app' class="container">
    <form id='fmt'>
      <table class="table">
        <tr>
          <th>Tiêu đề:</th>
          <td><input class="form-control" v-model='posts.body.title'  name="title"></td>
        </tr>
        <tr>
          <th>Miêu tả:</th>
          <td><input class="form-control" v-model='posts.body.sapo'  name="name"></td>
        </tr>
        <tr>
          <th>Hình ảnh nền:</th>
          <td><input class="form-control" v-model='posts.body.thumbnail'  name="name"></td>
        </tr>
        <tr>
          <th>nhóm bài viết:</th>
          <td><input class="form-control" v-model='posts.body.categories'  name="name"></td>
        </tr>
      </table>
      <div>
        <h3>Nội dung</h3>
      <textarea class="tinymce" v-model="posts.body.content"></textarea>
      </div>
      <div class="mt-3">
      <a class='btn btn-secondary' href='index_admin.html'>Quay lại</a>
      <button v-on:click='save()' class="btn btn-primary" type="button">Lưu lại</button>
    </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  new Vue({
    el: '#app',
    data: {
        test:"hello",
        id : null,
        posts: {
          body:{
            author:"",
            categories:"",
            content:"",
            sapo:"",
            thumbnail:"",
            title:"",

          }
        },
        API_URL :'http://localhost:8000'
        },
    created: async function() {
      var pos = location.href.indexOf('?id=');
      this.id = (pos >0)? location.href.substring(pos+4) : null;
      
      if(this.id) {
        var resp = await fetch(this.API_URL + "/root/get_post/"+this.id);
        this.posts = await resp.json();
        console.log(this.posts)
      }
    },
    methods: {
        post: async function (url, formData) {
            var resp = await fetch(url, {
            method: 'POST',
            body: formData
            });
        return resp.json();
      },
        put: async function (url, body) {
            var resp = await fetch(url, {
            method: 'PUT',
            body: body,
            headers: {"Content-Type": "application/json"}
            });
            return resp.json();
      },
        save: async function () {
            var result = {};

            if(this.id) {
            var body = JSON.stringify(this.category);
            result = await 
                        this.put(this.API_URL+'root/update_post/'+this.id, body);
            }else{
            var fmt = document.getElementById('fmt');
            result = await this.post(this.API_URL+'/root/create_post',new FormData(fmt));
            }
            
            if (result.success) {
            location.href = 'index_admin.html';
            } else {
            alert('Lỗi xảy ra khi ghi dữ liệu');
            }
        },

    }
  })
</script>